
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>马里亚纳观光局</title>
    <style>
@charset "utf-8";
*{-webkit-tap-highlight-color:rgba(255,255,255,0);}
body,form,div,span,ul,ol,li,p,pre,dl,dt,dd,h1,h2,h3,h4,h5,h6,em,a,fieldset,legend,address,label,textarea,select,input,figure,table,th,td,b,i{margin:0;padding:0;}
fieldset,img{border:0;}
ul,li{list-style:none;}
em,i{font-style:normal;}
table{border-collapse:separate;border-spacing:0;}
a{text-decoration:none;}
a:hover{ text-decoration:none;}
a:focus,input,button,select,textarea{outline:none;}
h1,h2,h3,h4,h5,h6{ font-size:100%; font-weight: normal;}
input,select,img{ vertical-align:middle;}
legend{ display:none;}
textarea{resize:none;}
.clear{ clear:both;}
.clearfix{zoom:1;}
.clearfix:after{clear:both; content:"";display:block;height:0;line-height:0;visibility:hidden;}
.fl {float:left;}
.fr {float:right;}
.mar_auto{ margin:0 auto;}

html,body,pre{
    width:100%;
    background: #fff;
    font-family:"Microsoft YaHei";
}
.l{
    float: left;
}
.r{
    float: right;
}
.saishi_wrapper{
    width:100%;
    min-width: 1200px;
    overflow-x:hidden;
}
.saishi_header{
    display: block;
    width:100%;
    margin-bottom: 50px;
}
.saishi_mainContent{
    width:1200px;
    margin:0 auto;
    overflow: hidden;
    border-bottom: 1px dotted #828282;
}
.saishi_mainContent h2{
    font-size:24px;
    color:#4185c5;
    font-weight: bold;
    margin-bottom: 48px;
}
.saishi_mainContent ul{
    width:100%;
}
.saishi_mainContent ul li{
    width:100%;
    height:52px;
    line-height: 52px;
}
.saishi_mainContent ul li.onli{
    background: #ededee
}
.saishi_mainContent ul li a{
    color:#000;
    font-size:18px;
    padding-left: 10px;
}
.saishi_mainContent ul li a span{
    color:#e02950;
    font-weight: bold;
    display: inline-block;
}
.baoM{
    display: block;
    width:210px;
    height:50px;
    font-size:20px;
    color:#fff;
    margin:0 auto;
    margin-top:80px;
    line-height: 50px;
    text-align: center;
    background: #e02950;
}
.saishi_mainContent ul li {
    height: auto;
}

pre {
    white-space: pre-wrap;
}

    </style>
</head>
<body>
    <div class="saishi_wrapper">
        <div CLASS="saishi_mainContent">
            <img src="{{asset 'imgs/header_01_new.png'}}" class="saishi_header" alt="">
        </div>
        <div class="saishi_mainContent">
            <h2>2020塞班马拉松•报名信息</h2>
            <ul>
                <li class="onli">
                    <a href="javascript:;">
                        <span>比赛日期：</span>
                        2020年3月14日 （星期六）
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <span>主办方：</span>
                        Marianas Visitors Authority 马里亚纳观光局 /
                        Northern Marianas Athletic 北马里亚纳竞技联盟
                    </a>
                </li>
                <li class="onli">
                    <a href="javascript:;">
                        <span>报名渠道：</span>
                        https://www.webscorer.com/register?raceid=196894
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <span>赛程分类：</span>
                        <br>
                        全程马拉松（26.2英里、42.16公里）*参赛者要求年满16周岁<br>
                        半程马拉松（13.1英里、21.08公里）<br>
                        10公里（6.2英里）<br>
                        5公里（3.1英里）<br>
                    </a>
                </li>
                <li class="onli">
                    <a href="javascript:;">
                        <span>报名费用：</span>
<pre>1.2019年9月20日-2020年2月14日早鸟报名费用：
全程马拉松——$90.00
半程马拉松/10公里/5公里马拉松——$60.00
**2020年2月14日（星期五）的早鸟截止日期前进行登记的参赛者，将拥有个性化的比赛号码布，并且名字会出现在2020塞班马拉松官方手册中，以及塞班马拉松的姓名墙当中。2020年2月14日后申请会产生额外费用。
2.2020年2月15日-2020年2月27日报名费用：
全程马拉松——$100.00
半程马拉松/10公里/5公里马拉松——$70.00
**所有登记的参赛者须提供有效身份证件（护照）；报名截止时间：当地时间2020年2月27日(星期五)下午5点。
</pre>
                    </a>
                </li>
            </ul>
        </div>
        <div class="saishi_mainContent">
            <h2>2020塞班马拉松•比赛信息</h2>
            <ul>
                <li class="onli">
                    <a href="javascript:;">
                        <span>装备包领取时间：</span>
<pre>2020年3月13日（星期五）  
团队报名领取时间 15:00 - 16:00  *5人及以上（仅适用于2月27日前注册的团队）
个人报名领取时间 16:00 - 18:00  
</pre>
                    </a>
                </li>
                <li class="onli">
                    <a href="javascript:;">
                        <span>装备包领取地点：</span>
                        美国纪念公园圆形剧场
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <span>装备包领取注意：</span>
<pre>所有参赛者请在3月13日规定的领取时间内，携带有效身份证件（护照）和纸质比赛确认文件领取参赛装备包。不接受装备包代领。
团队领取：只有一个团队确认人员可以领取团队装备包（如队长、组长、旅游代理公司，或赞助集团代表），并负责将装备包分发给各自团队成员。请确保将正确的号码布和装备包分发给正确的参赛者。如果比赛布发给错误的参赛者，主办单位将不为任何计时结果负责。
未能在2020年3月13日领取比赛包的参赛者，可以在马拉松比赛当天的早上领取。
</pre>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <span>起跑地点：</span>
                        American Memorial Park美国纪念公园前的Micro Beach
                    </a>
                </li>
                <li class="onli">
                    <a href="javascript:;">
                        <span>完赛奖励：</span>
                        完赛T恤、奖牌、完赛证书和颁奖晚宴的入场券（腕带）
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <span>检录时间：</span>
                        起跑前至少1小时到达起跑区检录
                    </a>
                </li>
                <li class="onli">
                    <a href="javascript:;">
                        <span>发枪时间：</span>
<pre>
全程马拉松：04:30 a.m. 
半程马拉松：05:30 a.m.
10公里：05:45 a.m.
5公里：06:00 a.m.
</pre>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <span>关门时间：</span>
<pre>
1.全程马拉松关门位置：位于赛道21.1公里处，关门时间08:30 a.m.
2.半程马拉松、10公里和5公里没有关门时间。
*无法按时完成比赛的参赛者请务必将计时芯片及时归还给组委会或工作人员。未归还计时芯片的所有参赛者将被收取相应费用。
</pre>
                    </a>
                </li>
                <li class="onli">
                    <a href="javascript:;">
                        <span>完赛晚宴：</span>
<pre>地点：稍后公布
时间：2020年3月14日 17:00开始 （计划）
请携带装备包中的腕带进入晚宴现场，否则需要支付额外的入场费。
奖项将颁发给全程马拉松、半程马拉松和10公里马拉松各自组别的前六名选手（男子组、女子组各三位）。此外，在年龄组别的比赛中，只有获得第一名的男选手和女选手才有机会获颁奖项。5公里比赛的奖项将颁发给前三名的选手。不分年龄组别的参赛者将不会获颁奖项。
</pre>
                    </a>
                </li>
                <li >
                    <a href="javascript:;">
                        <span>报名须知：</span>
<pre>1.不接受虚假身份、年龄报名以及冒用身份参赛。
2.我们建议所有参赛者在线注册塞班马拉松(https://www.webscorer.com/register?raceid=196894)，以避免在比赛包领取日弄错。
3.比赛号码将在参赛者报名后一周以电子邮件形式发送给参赛者，请确保电子邮箱地址的有效性。
4.截止当地时间2020年3月6日17:00，MVA将不再接受任何报名或付款。
5.报名费不可转让，不可退还。恕不接受更改或取消比赛。
6.在2020年2月14日（星期五）的早鸟截止日期前进行登记的参赛者，比赛号码布是个性化的，并且名字会出现在2020塞班马拉松官方手册中，以及塞班马拉松的姓名墙当中。
7.所有参赛者将获得一件完赛T恤、奖牌、完赛证书和一张参加颁奖晚宴的入场券（腕带）。其他客人需要在3月13日支付颁奖晚宴入场费。 
8.全程马拉松和半程马拉松的所有折返点都将放置计时垫，每个折返点都将设置人工计时器。未能在正确的折返点折返将导致成绩取消。
9.全程马拉松、半程马拉松和10公里马拉松路线已通过国际马拉松和长跑协会(AIMS)认证。5公里路线还没有认证。
10.所有公告信息都有可能不经通知变更或过期。参赛者都有责任了解比赛规章制度。
马里亚纳观光局有权变更条款，且无需事先通知。
</pre>
                    </a>
                </li>
                <li class="onli">
                    <a href="javascript:;">
                        <span>主办方联系方式</span>
<pre>
mva@skywalkergroup.net
010-85324759
官方网站：www.mymarianas.cn
</pre>
                    </a>
                </li>
            </ul>
            <a href="https://www.webscorer.com/register?raceid=196894" class="baoM" style="margin-bottom: 20px;">点击报名</a>
        </div>
        <!-- <div class="saishi_mainContent">
            <h2>2019塞班马拉松•比赛路线</h2>
            <div class="imgBox_W">
                <img class="l" src="images/mlst_03.png" alt="">
                <img class="r" src="images/mlst_05.png" alt="">
            </div>
        </div> -->
        <div class="saishi_mainContent" style="border-bottom:0;">
            <h2>往期精彩回顾</h2>
            <div class="imgBox_W">
                <img src="{{asset 'imgs/1_03.png'}}" alt="">
            </div>
        </div>
    </div>
</body>
</html>