{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{> site-header}}

<style>
  .u-flex {
    display: flex;
  }
  .flex-1 {
    flex: 1;
  }
</style>

<div class="inner u-flex">
  <a href="#saiban-a" class="u-flex1" style="text-decoration:none!important;cursor:pointer;position:relative;">
    <img class="u-width-full" src="http://www.mymarianas.cn/Public/images/banner/1531023547.jpg">
    <div class="u-flex u-flex-center" style="position:absolute;left:0;bottom:20px;width:100%;">
      <img src="http://www.mymarianas.cn/Public/assets/images/ddd.png" alt="">
      <p style="font-size: 40px;font-weight:bold;color:white;">美式节庆</p>
      <img src="http://www.mymarianas.cn/Public/assets/images/ccc.png" alt="">
    </div>
  </a>
  <a href="#tianyu-a" class="u-flex1" style="text-decoration:none!important;cursor:pointer;position:relative;">
    <img class="u-width-full" src="http://www.mymarianas.cn/Public/images/banner/1531023562.jpg">
    <div class="u-flex u-flex-center" style="position:absolute;left:0;bottom:20px;width:100%;">
      <img src="http://www.mymarianas.cn/Public/assets/images/ddd.png" alt="">
      <p style="font-size: 40px;font-weight:bold;color:white;">文化活动</p>
      <img src="http://www.mymarianas.cn/Public/assets/images/ccc.png" alt="">
    </div>
  </a>
  <a href="#luota-a" class="u-flex1" style="text-decoration:none!important;cursor:pointer;position:relative;">
    <img class="u-width-full" src="http://www.mymarianas.cn/Public/images/banner/1531023569.jpg">
    <div class="u-flex u-flex-center" style="position:absolute;left:0;bottom:20px;width:100%;">
      <img src="http://www.mymarianas.cn/Public/assets/images/ddd.png" alt="">
      <p style="font-size: 40px;font-weight:bold;color:white;">精彩赛事</p>
      <img src="http://www.mymarianas.cn/Public/assets/images/ccc.png" alt="">
    </div>
  </a>
</div>