{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{> site-header}}

<div class="inner">
  <img src="http://www.mymarianas.cn/Public/assets/images/sbanner.jpg" alt="">
</div>

<div class="inner">
  <div class="s-list">
    <ul>
      <li>分类</li>
      <li><a href="#a2">购物</a></li>
      <li><a href="#a2">出行</a></li>
    </ul>
  </div>

  <div class="s-info" id="a1">
    <h3>塞班 · 购物</h3>
    <ul class="clearfix">
      <li data-id="45">
          <img src="http://www.mymarianas.cn/Public/images/news/1531057058.jpg" alt="">
          <p><span>Mariana Ocean</span></p>
      </li><li data-id="44">
          <img src="http://www.mymarianas.cn/Public/images/news/1531056859.jpg" alt="">
          <p><span>周天超市</span></p>
      </li><li data-id="43">
          <img src="http://www.mymarianas.cn/Public/images/news/1531056764.jpg" alt="">
          <p><span>ABC Store</span></p>
      </li><li data-id="42">
          <img src="http://www.mymarianas.cn/Public/images/news/1531056647.png" alt="">
          <p><span>塞班制造</span></p>
      </li><li data-id="41">
          <img src="http://www.mymarianas.cn/Public/images/news/1531056538.png" alt="">
          <p><span>ARC 购物中心</span></p>
      </li><li data-id="17">
          <img src="http://www.mymarianas.cn/Public/images/news/1531051324.png" alt="">
          <p><span>我爱塞班</span></p>
      </li><li data-id="6">
          <img src="http://www.mymarianas.cn/Public/images/news/1531049107.jpg" alt="">
          <p><span>DFS免税店</span></p>
      </li>          
    </ul>
  </div>


  <div class="s-info" id="a1">
    <h3>塞班 · 出行</h3>
    <ul class="clearfix">
      <li data-id="16">
        <img src="http://www.mymarianas.cn/Public/images/news/1531050837.jpg" alt="">
        <p><span>租车</span></p>
      </li>
    </ul>
  </div>
</div>

<div class="window">
  <div class="win-info clearfix">
    <div class="w-list">
      <ul id="right_img">
        <!-- 右侧小图 -->
        <li><img src="http://www.mymarianas.cn/Public/assets/images/w1.jpg" alt=""></li>
      </ul>
    </div>
    <div class="bw-list">
      <ul id="big_img">
        <!-- 展示大图 -->
        <li><img src="http://www.mymarianas.cn/Public/assets/images/w1.jpg" alt=""></li>
      </ul>
    </div>

    <div class="close"><img src="http://www.mymarianas.cn/Public/assets/images/close.png" alt=""></div>
  </div>
  <div class="bs-list">
    <ul id="infoss">
    </ul>
  </div>
</div>

{{#contentFor "scripts"}}
<script>
  var database = {
    17: { id: '17', number: '0', title: '我爱塞班', en_title: 'I Love Saipan', img: 'http://www.mymarianas.cn/Public/images/news/1531051324.png', detail: '', time: '2018-07-08', top: '0', hot: '0', statu: '1', level: '0', level_text: '', remark: '塞班规模最大的纪念品店。印有“I Love Saipan”口号的各种小纪念品均在此出售，杯子、玩偶、钥匙圈、T恤、冰箱贴等\n' + '应有尽有，将在塞班留下的美好回忆带回故乡。此外也有旅行中各式必需品、泳装、潜水面镜出售，以及日光浴用品、巧克\n' + '力、果汁零食等，堪比大型卖场。如果时间充裕，可以好好转转，仔细选购手工香皂、变色指甲油、护肤品等特色商品。卖\n' + '场内还设有观光服务台，有旅行相关的问题都可以咨询。店内还', phone: '+1 670 233 3535', mail: '', address: '加拉班', img_1: 'http://www.mymarianas.cn/Public/images/news/1531051283.png', img_2: 'http://www.mymarianas.cn/Public/images/news/list.jpg', img_3: 'http://www.mymarianas.cn/Public/images/news/list.jpg', img_4: null, img_5: null, class_id: '1', community_id: '3', island: '1' } ,
    44: { id: '44', number: '0', title: '周天超市', en_title: '周天超市', img: 'http://www.mymarianas.cn/Public/images/news/1531056859.jpg', detail: '', time: '2018-07-08', top: '0', hot: '0', statu: '1', level: '0', level_text: '', remark: '在当地人常去的超级市场购物也是旅行的一大妙趣。周\n' + '天超市在塞班有多个分店，日用百货、食材、即食食品\n' + '等应有尽有，能够一次买齐出行所需的各种物资，方便\n' + '实惠。超市还有快餐吧，在购物之后还可以顺便歇脚、\n' + '补充体力。', phone: '+1 670 234 6445', mail: '', address: '加拉班, Susupe, Dandan, Kagman', img_1: 'http://www.mymarianas.cn/Public/images/news/1531304170.png', img_2: 'http://www.mymarianas.cn/Public/images/news/1531304228.png', img_3: 'http://www.mymarianas.cn/Public/images/news/list.jpg', img_4: null, img_5: null, class_id: '1', community_id: '3', island: '1' } ,
    16: { id: '16', number: '0', title: '租车', en_title: 'Rent-a-Car', img: 'http://www.mymarianas.cn/Public/images/news/1531050837.jpg', detail: '', time: '2018-07-08', top: '0', hot: '0', statu: '1', level: '0', level_text: '', remark: '塞班机场大门对面就有租车公司开设的办事处，可以直接比较各家公司的车型、费用、保险等信息，\n' + '开始你的自驾之旅。此外，也可以在租车公司的办事处提前预约，于约定的日期在酒店直接领车。\n' + '21岁以上的中国游客只需出示中国驾照就可以租车，租金一般在70-150美元之间。塞班的租车公司\n' + '主要有：Hertz、Islander Rend-A-Car、QQ Rent-A-Car、Avis等等。', phone: '+1670 234 8336  ', mail: '', address: '', img_1: 'http://www.mymarianas.cn/Public/images/news/1531050585.jpg', img_2: 'http://www.mymarianas.cn/Public/images/news/list.jpg', img_3: 'http://www.mymarianas.cn/Public/images/news/list.jpg', img_4: null, img_5: null, class_id: '7', community_id: '3', island: '1' } ,
    42: { id: '42', number: '0', title: '塞班制造', en_title: 'Saipan Made', img: 'http://www.mymarianas.cn/Public/images/news/1531056647.png', detail: '', time: '2018-07-08', top: '0', hot: '0', statu: '1', level: '0', level_text: '', remark: '从名字就看的出来，这里专门贩售在塞班制造的纪念品。店\n' + '铺规模虽然不大，但却小巧精致魅力十足，开业至今已有\n' + '10年之久。除了物美价廉的塞班纪念品，在这里还买得到\n' + 'Kingfisher’s Noni 香草茶、果汁、马里亚纳本地咖啡，以及\n' + '首饰、挂件等手工艺品。对塞班文化感兴趣的游客，还能买\n' + '到纪念版的本土音乐唱片。', phone: '+1 670 483 9495', mail: '', address: '加拉班', img_1: 'http://www.mymarianas.cn/Public/images/news/1531303789.png', img_2: 'http://www.mymarianas.cn/Public/images/news/1531303856.png', img_3: 'http://www.mymarianas.cn/Public/images/news/1531303904.png', img_4: null, img_5: null, class_id: '1', community_id: '3', island: '1' } ,
    41: { id: '41', number: '0', title: 'ARC 购物中心', en_title: 'ARC 购物中心', img: 'http://www.mymarianas.cn/Public/images/news/1531056538.png', detail: '', time: '2018-07-08', top: '0', hot: '0', statu: '1', level: '0', level_text: '', remark: 'ARC购物中心与2017年全新开业，这座三层、总面积达到\n' + '10000平方尺的购物中心为加拉班步行街注入了新鲜血液，\n' + '带来一系列首次登陆塞班的品牌。首层为Balenciaga、\n' + 'Bottega Veneta和Givenchy的专门店面。', phone: '', mail: '', address: '加拉班', img_1: 'http://www.mymarianas.cn/Public/images/news/1531303587.png', img_2: 'http://www.mymarianas.cn/Public/images/news/1531303636.png', img_3: 'http://www.mymarianas.cn/Public/images/news/1531303692.png', img_4: null, img_5: null, class_id: '1', community_id: '3', island: '1' } ,
    45: { id: '45', number: '0', title: 'Mariana Ocean', en_title: 'Mariana Ocean', img: 'http://www.mymarianas.cn/Public/images/news/1531057058.jpg', detail: '', time: '2018-07-08', top: '0', hot: '0', statu: '1', level: '0', level_text: '', remark: '由塞班当地人创立的纯天然手工肥皂店。这里出售的\n' + '肥皂与护肤品全部来自马里亚纳群岛的天然植物，经\n' + '由传统手工工艺制成，肥皂更有各式创意形状，是馈\n' + '赠亲朋好友的绝佳特产。在加拉班、马里亚纳度假村\n' + '和悦泰度假村内均有店铺。', phone: '+1 670 322 0770', mail: '', address: '加拉班', img_1: 'http://www.mymarianas.cn/Public/images/news/1531304311.jpg', img_2: 'http://www.mymarianas.cn/Public/images/news/1531304314.jpg', img_3: 'http://www.mymarianas.cn/Public/images/news/1531304374.jpg', img_4: null, img_5: null, class_id: '1', community_id: '3', island: '1' } ,
    43: { id: '43', number: '0', title: 'ABC Store', en_title: 'ABC Store', img: 'http://www.mymarianas.cn/Public/images/news/1531056764.jpg', detail: '', time: '2018-07-08', top: '0', hot: '0', statu: '1', level: '0', level_text: '', remark: '位于加拉班中心的人气便利店。店里有各种便利店常见\n' + '的零食饮料，也摆满了人字拖、沙滩包、纪念品等观光\n' + '客需要的商品。同时，这里也是人气美妆Burt’s Bees在\n' + '塞班的唯一贩售地。', phone: '+1 670 234 0828', mail: '', address: '加拉班', img_1: 'http://www.mymarianas.cn/Public/images/news/1531304001.png', img_2: 'http://www.mymarianas.cn/Public/images/news/list.jpg', img_3: 'http://www.mymarianas.cn/Public/images/news/list.jpg', img_4: null, img_5: null, class_id: '1', community_id: '3', island: '1' } ,
    6: { id: '6', number: '0', title: 'DFS免税店', en_title: 'Duty Free Shop', img: 'http://www.mymarianas.cn/Public/images/news/1531049107.jpg', detail: '', time: '2018-07-08', top: '0', hot: '0', statu: '1', level: '0', level_text: '', remark: '北马里亚纳群岛政府唯一认证的免税店，位于\n' + '加拉班海滨路的核心地段。时装、珠宝、化妆\n' + '品等一线世界名牌均已进驻，分为时装区、时\n' + '尚世界、礼品卖场等区。时装区品牌包括\n' + 'Hermes、Chanel、Salvatore Ferragamo、\n' + 'Prada、Gucci、Christian Dior；化妆品区则\n' + '有Anna Sui、Clarins、Dior、Lancôme等20\n' + '多家名牌；珠宝腕表类则有Bvlg', phone: '234-6615', mail: '', address: 'P.O. Box 500528 Saipan MP 96950', img_1: 'http://www.mymarianas.cn/Public/images/news/1531049278.png', img_2: 'http://www.mymarianas.cn/Public/images/news/1531303405.jpg', img_3: 'http://www.mymarianas.cn/Public/images/news/1531303411.jpg', img_4: null, img_5: null, class_id: '1', community_id: '3', island: '1' } ,
  }
  $(".s-info li").click(function () {
    var id = $(this).attr("data-id");
    var img = '';
    var data = database[id]
    if (data.img_1 !='http://www.mymarianas.cn/Public/images/news/list.jpg') {
      img += '<li name="' + data.id + '"><img src="' + data.img_1 + '" alt=""></li>';
    }
    if (data.img_2 !='http://www.mymarianas.cn/Public/images/news/list.jpg') {
      img += '<li ><img src="' + data.img_2 + '" alt=""></li>';
    }
    if (data.img_3 !='http://www.mymarianas.cn/Public/images/news/list.jpg') {
      img += '<li ><img src="' + data.img_3 + '" alt=""></li>';
    }

    var info = '<li> <div class="w-info"><h3>' + data.title + '</h3> <div class="xinxix"><span>T: ' + data.phone + '</span><span>ADD: ' + data.address + '</span><span>Saipan, MP 96950</span></div><p>' + data.remark + '</p><a href=""></a></div></li>';

    //替换内容
    $("#right_img").html(img);
    $("#big_img").html(img);
    $("#infoss").html(info);
    aa();

    $(".window").show();
  })

  function aa() {
    $(".w-list li").hover(function () {
      var index = $(this).index();
      // $(".bs-list li").hide();
      $(".bs-list li").eq(index).show();
      $(".bw-list li").hide();
      $(".bw-list li").eq(index).show();
    })

    $(".window .close").click(function () {
      $(".window").hide();
    })
  }
</script>
{{/contentFor}}