{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{> site-header}}

<div class="inner">
  <img src="http://www.mymarianas.cn/Public/assets/images/zbanner.jpg" alt="">
</div>

<div class="inner">
  <div class="s-list">
    <ul>
      <li>分类</li>
      <li><a href="#a2">酒店</a></li>
    </ul>
  </div>

  <div class="s-info" id="a1">
    <h3>塞班 · 酒店</h3>
    <ul class="clearfix">
      <li data-id="60">
          <img src="http://www.mymarianas.cn/Public/images/news/1531300630.jpg" alt="">
          <p><span>珊瑚海角度假村</span></p>
      </li><li data-id="59">
          <img src="http://www.mymarianas.cn/Public/images/news/1531300494.jpg" alt="">
          <p><span>塞班塞伦蒂酒店</span></p>
      </li><li data-id="58">
          <img src="http://www.mymarianas.cn/Public/images/news/1531300370.jpg" alt="">
          <p><span>塞班芒果度假酒店</span></p>
      </li><li data-id="57">
          <img src="http://www.mymarianas.cn/Public/images/news/1531300129.jpg" alt="">
          <p><span>马里亚纳度假村</span></p>
      </li><li data-id="56">
          <img src="http://www.mymarianas.cn/Public/images/news/1531299979.jpg" alt="">
          <p><span>塞班格兰维罗度假村</span></p>
      </li><li data-id="55">
          <img src="http://www.mymarianas.cn/Public/images/news/1531299836.jpg" alt="">
          <p><span>碧榕庄</span></p>
      </li><li data-id="54">
          <img src="http://www.mymarianas.cn/Public/images/news/1531299613.jpg" alt="">
          <p><span>塞班宝瓶海滩酒店</span></p>
      </li><li data-id="52">
          <img src="http://www.mymarianas.cn/Public/images/news/1531299287.jpg" alt="">
          <p><span>冲浪者度假酒店</span></p>
      </li><li data-id="51">
          <img src="http://www.mymarianas.cn/Public/images/news/1531299168.jpg" alt="">
          <p><span>太平洋岛屿俱乐部酒店</span></p>
      </li><li data-id="34">
          <img src="http://www.mymarianas.cn/Public/images/news/1531298668.jpg" alt="">
          <p><span>劳劳湾高尔夫度假村</span></p>
      </li><li data-id="33">
          <img src="http://www.mymarianas.cn/Public/images/news/1531373841.jpg" alt="">
          <p><span>卡诺亚度假酒店</span></p>
      </li><li data-id="32">
          <img src="http://www.mymarianas.cn/Public/images/news/1531298793.jpg" alt="">
          <p><span>塞班世界度假酒店</span></p>
      </li><li data-id="31">
          <img src="http://www.mymarianas.cn/Public/images/news/1531374338.jpg" alt="">
          <p><span>塞班悦泰度假村</span></p>
      </li><li data-id="12">
          <img src="http://www.mymarianas.cn/Public/images/news/1531298868.jpg" alt="">
          <p><span>塞班肯辛顿酒店</span></p>
      </li><li data-id="8">
          <img src="http://www.mymarianas.cn/Public/images/news/1531373860.jpg" alt="">
          <p><span>塞班凯悦酒店</span></p>
      </li><li data-id="7">
          <img src="http://www.mymarianas.cn/Public/images/news/1531374529.jpg" alt="">
          <p><span>塞班清泉度假村</span></p>
      </li>
    </ul>
  </div>
</div>
<div class="window">
  <div class="win-info clearfix">
    <div class="w-list">
      <ul id="right_img">
        <!-- 右侧小图 -->
        <li><img src="http://www.mymarianas.cn/Public/assets/images/w1.jpg" alt=""></li>
      </ul>
    </div>
    <div class="bw-list">
      <ul id="big_img">
        <!-- 展示大图 -->
        <li><img src="http://www.mymarianas.cn/Public/assets/images/w1.jpg" alt=""></li>
      </ul>
    </div>

    <div class="close"><img src="http://www.mymarianas.cn/Public/assets/images/close.png" alt=""></div>
  </div>
  <div class="bs-list">
    <ul id="infoss">
    </ul>
  </div>
</div>

{{#contentFor "scripts"}}
<script>
  var database = {
    60: { id: '60', number: '0', title: '珊瑚海角度假村', en_title: 'Coral Ocean Golf Resort', img: 'http://www.mymarianas.cn/Public/images/news/1531300630.jpg', detail: '', time: '2018-07-11', top: '0', hot: '0', statu: '1', level: '0', level_text: '', remark: '位于塞班最南端的珊瑚海角度假村是一家高尔夫度假酒店，90多间客房全部朝南，与天宁岛隔海相望。其18洞球场由美国专业高尔夫球手Larry Nelson设计。每当凤凰花季时，球场中的大片银合欢会绚烂绽放，极富冲击力。', phone: '+1 670  234 7000  ', mail: '', address: 'P.O. Box 501160 ', img_1: 'http://www.mymarianas.cn/Public/images/news/1531300633.jpg', img_2: 'http://www.mymarianas.cn/Public/images/news/1531300636.jpg', img_3: 'http://www.mymarianas.cn/Public/images/news/1531300639.jpg', img_4: null, img_5: null, class_id: '3', community_id: '2', island: '1' },
    51: { id: '51', number: '0', title: '太平洋岛屿俱乐部酒店', en_title: 'Pacific Islands Club Saipan', img: 'http://www.mymarianas.cn/Public/images/news/1531299168.jpg', detail: '', time: '2018-07-11', top: '0', hot: '0', statu: '1', level: '0', level_text: '', remark: '大型家庭度假酒店，有308间客房，拥有大型水上乐园、私家海滩、热带庭院等设施。', phone: '+1 670 234 7976', mail: '', address: 'P.O. Box 502370 ', img_1: 'http://www.mymarianas.cn/Public/images/news/1531299172.jpg', img_2: 'http://www.mymarianas.cn/Public/images/news/1531299174.jpg', img_3: 'http://www.mymarianas.cn/Public/images/news/1531299144.jpg', img_4: null, img_5: null, class_id: '3', community_id: '2', island: '1' },
    58: { id: '58', number: '0', title: '塞班芒果度假酒店', en_title: 'Mango Resort', img: 'http://www.mymarianas.cn/Public/images/news/1531300370.jpg', detail: '', time: '2018-07-11', top: '0', hot: '0', statu: '1', level: '0', level_text: '', remark: '\n' + '坐落于机场的塞班芒果度假酒店(Mango Resort Saipan)，会让您在塞班岛拥有别样的体验，开展一段难忘的旅行。酒店地理位置优越，驾车至塞班岛国际机场仅需2km 。', phone: '+1 670 288 6904 ', mail: '', address: 'P.O. Box 505478 ', img_1: 'http://www.mymarianas.cn/Public/images/news/1531300372.jpg', img_2: 'http://www.mymarianas.cn/Public/images/news/1531300375.jpg', img_3: 'http://www.mymarianas.cn/Public/images/news/1531300377.jpg', img_4: null, img_5: null, class_id: '3', community_id: '2', island: '1'},
    57: { id: '57', number: '0', title: '马里亚纳度假村', en_title: 'Mariana Resort & Spa', img: 'http://www.mymarianas.cn/Public/images/news/1531300129.jpg', detail: '', time: '2018-07-11', top: '0', hot: '0', statu: '1', level: '0', level_text: '', remark: '塞班最北部的酒店，以自然、健康、休息为主题，配套设施一应俱全。新馆有74间客房，全部都是海景房；沿山坡向上则有50栋各种房型的别墅。另外，塞班数一数二的SPA设备也是它的一大卖点。', phone: '+1 670 322 0770  ', mail: '', address: 'P.O.BOX 500527 ', img_1: 'http://www.mymarianas.cn/Public/images/news/1531300135.jpg', img_2: 'http://www.mymarianas.cn/Public/images/news/1531300194.jpg', img_3: 'http://www.mymarianas.cn/Public/images/news/1531300197.jpg', img_4: null, img_5: null, class_id: '3', community_id: '2', island: '1' },
    52: { id: '52', number: '0', title: '冲浪者度假酒店', en_title: 'Surfrider Resort Hotel', img: 'http://www.mymarianas.cn/Public/images/news/1531299287.jpg', detail: '', time: '2018-07-11', top: '0', hot: '0', statu: '1', level: '0', level_text: '', remark: '酒店内设施齐全，可为住客提供舒适的入住体验。 配备免费房内无线网络, 24小时安保, 每日客房清洁服务, 自助洗衣设施, 24小时前台等设施以供住客使用。', phone: '+1 670 235 7873 ', mail: '', address: 'P.O. Box 500487 ', img_1: 'http://www.mymarianas.cn/Public/images/news/1531299291.jpg', img_2: 'http://www.mymarianas.cn/Public/images/news/1531299296.jpg', img_3: 'http://www.mymarianas.cn/Public/images/news/1531299298.jpg', img_4: null, img_5: null, class_id: '3', community_id: '2', island: '1' },
    12: { id: '12', number: '0', title: '塞班肯辛顿酒店', en_title: 'Kensington Hotel Saipan', img: 'http://www.mymarianas.cn/Public/images/news/1531298868.jpg', detail: '', time: '2018-07-08', top: '0', hot: '0', statu: '1', level: '0', level_text: '', remark: '于2016年盛大开业的肯辛顿酒店目前是塞班设施最新、规模最大的豪华型酒店。坐落于宝宝海滩的肯辛顿酒店远离加拉班\n' + '闹市，独享一片恬静的天地。住店游客凭借酒店通行证即可享受酒店内的所有娱乐设施。与其他酒店不同，肯辛顿的房间费\n' + '用内通常包含早餐与一顿正餐，可在酒店内的豪华自助餐厅享用。', phone: '+1 670 322 3311', mail: '', address: '宝宝海滩', img_1: 'http://www.mymarianas.cn/Public/images/news/1531297988.jpg', img_2: 'http://www.mymarianas.cn/Public/images/news/1531297992.jpg', img_3: 'http://www.mymarianas.cn/Public/images/news/1531297995.jpg', img_4: null, img_5: null, class_id: '3', community_id: '2', island: '1' }, 
    56: { id: '56', number: '0', title: '塞班格兰维罗度假村', en_title: 'Grandvrio Resort Saipan', img: 'http://www.mymarianas.cn/Public/images/news/1531299979.jpg', detail: '', time: '2018-07-11', top: '0', hot: '0', statu: '1', level: '0', level_text: '', remark: '位于加拉班中心，有三栋建筑共428间客房，几乎全部房间都是海景房。酒店有海豚、AIRI等餐厅供客人体验。还有可以体验芳香疗法的Lagoon SPA。从格兰维罗步行即可到达DFS环球免税店，便利的交通是这里最大的优点。', phone: '+1 670 234 6495  ', mail: '', address: 'P.O. Box 500338 ', img_1: 'http://www.mymarianas.cn/Public/images/news/1531299983.jpg', img_2: 'http://www.mymarianas.cn/Public/images/news/1531299985.jpg', img_3: 'http://www.mymarianas.cn/Public/images/news/1531299993.jpg', img_4: null, img_5: null, class_id: '3', community_id: '2', island: '1' },
    8: { id: '8', number: '0', title: '塞班凯悦酒店', en_title: 'Hyatt Regency Saipan', img: 'http://www.mymarianas.cn/Public/images/news/1531373860.jpg', detail: '', time: '2018-07-08', top: '0', hot: '0', statu: '1', level: '0', level_text: '', remark: '位于麦克海滩的凯悦酒店是塞班唯一一家国际连锁五星酒店。在酒店内即可看到塞班的壮美日出和日落。酒店被种满椰子\n' + '树、扶桑花等热带植物的花园环绕。餐厅、网球场、儿童游戏室、健身房、桑拿、瑜伽室等店内设施均沿袭了其国际标准。', phone: '+1 670 234 1234', mail: '', address: '加拉班', img_1: 'http://www.mymarianas.cn/Public/images/news/1531297961.jpg', img_2: 'http://www.mymarianas.cn/Public/images/news/1531297964.jpg', img_3: 'http://www.mymarianas.cn/Public/images/news/1531297967.jpg', img_4: null, img_5: null, class_id: '3', community_id: '2', island: '1' }, 
    34: { id: '34', number: '0', title: '劳劳湾高尔夫度假村', en_title: 'Laolao Bay Golf & Resort', img: 'http://www.mymarianas.cn/Public/images/news/1531298668.jpg', detail: '', time: '2018-07-08', top: '0', hot: '0', statu: '1', level: '0', level_text: '', remark: '位于塞班东南方的劳劳湾旁，于2009年12月开幕，酒店内有三种房型共52间客房。它的高尔夫球场由澳洲高尔夫选手Greg\n' + 'Norman设计，是岛上唯一的国际标准36洞球场。在The Dining Deck的用餐观景台可以享用BBQ，夜深人静后也可以选择\n' + '按摩或卡拉OK消遣。', phone: '+1 670 236 8888', mail: '', address: '劳劳湾', img_1: 'http://www.mymarianas.cn/Public/images/news/1531298637.jpg', img_2: 'http://www.mymarianas.cn/Public/images/news/1531298665.jpg', img_3: 'http://www.mymarianas.cn/Public/images/news/1531298643.jpg', img_4: null, img_5: null, class_id: '3', community_id: '2', island: '1' },
    54: { id: '54', number: '0', title: '塞班宝瓶海滩酒店', en_title: 'Aquarius Beach Tower', img: 'http://www.mymarianas.cn/Public/images/news/1531299613.jpg', detail: '', time: '2018-07-11', top: '0', hot: '0', statu: '1', level: '0', level_text: '', remark: '如果想在塞班选择公寓式酒店的话，宝瓶海滩是个不错的选择。64间套房全部是带有厨房的住宅套间，配有冰箱与瓦斯罐、电磁炉、咖啡机等烹饪设备。有双卧室与三卧室两种套房，大家庭也可以入住。', phone: '+1 670  235 6025 ', mail: '', address: 'P.O. Box 500110 ', img_1: 'http://www.mymarianas.cn/Public/images/news/1531299615.jpg', img_2: 'http://www.mymarianas.cn/Public/images/news/1531299618.jpg', img_3: 'http://www.mymarianas.cn/Public/images/news/1531299619.jpg', img_4: null, img_5: null, class_id: '3', community_id: '2', island: '1' },
    32: { id: '32', number: '0', title: '塞班世界度假酒店', en_title: 'Saipan World Resort', img: 'http://www.mymarianas.cn/Public/images/news/1531298793.jpg', detail: '', time: '2018-07-08', top: '0', hot: '0', statu: '1', level: '0', level_text: '', remark: '位于Susupe区中心的度假酒店，有265间客房。著名的\n' + 'Buffet World自助餐厅有多达150道美食，在Sunset Garden\n' + '用餐时还能欣赏原汁原味的原住民表演。度假村内的Wave\n' + 'Jungle是塞班岛上最大的水上乐园，适合全家出行。', phone: '+1 670 234 5900', mail: '', address: 'Susupe区', img_1: 'http://www.mymarianas.cn/Public/images/news/1531298591.jpg', img_2: 'http://www.mymarianas.cn/Public/images/news/1531298599.jpg', img_3: 'http://www.mymarianas.cn/Public/images/news/1531298603.jpg', img_4: null, img_5: null, class_id: '3', community_id: '2', island: '1' },
    31: { id: '31', number: '0', title: '塞班悦泰度假村', en_title: 'Fiesta Resort & Spa Saipan', img: 'http://www.mymarianas.cn/Public/images/news/1531374338.jpg', detail: '', time: '2018-07-08', top: '0', hot: '0', statu: '1', level: '0', level_text: '', remark: '位于麦克海滩，共有416间7种不同房型的客房。南栋7层为女士专门设计，备受女性游客喜爱。酒店内有两个被热带庭院环\n' + '绕的泳池、网球场，餐饮方面则有日式餐厅、中餐厅、咖啡简餐等选择，也有SPA、健身房等服务。此外，每晚在海边自助\n' + '餐厅表演的塞班第一晚餐秀更是远近闻名，值得体验。', phone: '+1 670 237 0700', mail: '', address: '加拉班', img_1: 'http://www.mymarianas.cn/Public/images/news/1531298550.jpg', img_2: 'http://www.mymarianas.cn/Public/images/news/1531298573.jpg', img_3: 'http://www.mymarianas.cn/Public/images/news/1531298555.jpg', img_4: null, img_5: null, class_id: '3', community_id: '2', island: '1' },
    59: { id: '59', number: '0', title: '塞班塞伦蒂酒店', en_title: 'Serenti Hotel', img: 'http://www.mymarianas.cn/Public/images/news/1531300494.jpg', detail: '', time: '2018-07-11', top: '0', hot: '0', statu: '1', level: '0', level_text: '', remark: '酒店位加拉班闹市中，位置优越非常便利，附近有不少餐厅与商店。房间宽敞整洁。酒店4层上还有一个小型天台花园，可以眺望整个加拉班。', phone: '+1 670  233 5201 ', mail: '', address: 'P.O. Box 500440 ', img_1: 'http://www.mymarianas.cn/Public/images/news/1531300498.jpg', img_2: 'http://www.mymarianas.cn/Public/images/news/1531300530.jpg', img_3: 'http://www.mymarianas.cn/Public/images/news/1531300532.jpg', img_4: null, img_5: null, class_id: '3', community_id: '2', island: '1' },
    55: { id: '55', number: '0', title: '碧榕庄', en_title: 'Barong Villa', img: 'http://www.mymarianas.cn/Public/images/news/1531299836.jpg', detail: '', time: '2018-07-11', top: '0', hot: '0', statu: '1', level: '0', level_text: '', remark: '碧榕庄-园景房的一流设施和优质服务会让客人的入住变得更加愉快。 酒店的特色服务设施包括免费房内无线网络, 专人办理入住退房, 行李存放服务, 无线网络(公共区域), 停车场。', phone: '+1 670 233 7388', mail: '', address: 'PMB 278 Box 10000 ', img_1: 'http://www.mymarianas.cn/Public/images/news/1531299838.jpg', img_2: 'http://www.mymarianas.cn/Public/images/news/1531299841.jpg', img_3: 'http://www.mymarianas.cn/Public/images/news/1531299843.jpg', img_4: null, img_5: null, class_id: '3', community_id: '2', island: '1' },
    7: { id: '7', number: '0', title: '塞班清泉度假村', en_title: 'Aqua Resort Club Saipan', img: 'http://www.mymarianas.cn/Public/images/news/1531374529.jpg', detail: '', time: '2018-07-08', top: '0', hot: '0', statu: '1', level: '0', level_text: '', remark: '位于塞班东北方的僻静度假村，酒店为八栋两层的海岛风格小屋，庭院内种有三千多种不同的花卉，适合想要幽静度假的游\n' + '客。度假村内有Costa Terrace Restaurant和Raraina Main Dinning等高级餐厅。闲暇时既可以在泳池边戏水，也可在海\n' + '边的展望台上看书品酒。', phone: '+1 670 322 1234', mail: '', address: 'Achugao beach', img_1: 'http://www.mymarianas.cn/Public/images/news/1531297890.jpg', img_2: 'http://www.mymarianas.cn/Public/images/news/1531297930.jpg', img_3: 'http://www.mymarianas.cn/Public/images/news/1531297896.jpg', img_4: null, img_5: null, class_id: '3', community_id: '2', island: '1' }, 
    33: { id: '33', number: '0', title: '卡诺亚度假酒店', en_title: 'Kanoa Resort', img: 'http://www.mymarianas.cn/Public/images/news/1531373841.jpg', detail: '', time: '2018-07-08', top: '0', hot: '0', statu: '1', level: '0', level_text: '', remark: '位于Susupe海边的度假酒店，224间客房全部是海景\n' + '房。Kanoa在夏威夷土著语言中意为“自由的灵魂”，完\n' + '美地描述了这里的氛围。酒店内有众多水上项目可以体\n' + '验，以及丰富的餐饮选择，包括海滩BBQ、咖啡厅、面食\n' + '专卖等。邻近的880免税店与Club C酒吧也是丰富夜生活\n' + '的好去处。', phone: '+1 670 234 6601', mail: '', address: 'Susupe区', img_1: 'http://www.mymarianas.cn/Public/images/news/1531298616.jpg', img_2: 'http://www.mymarianas.cn/Public/images/news/1531298620.jpg', img_3: 'http://www.mymarianas.cn/Public/images/news/1531298622.jpg', img_4: null, img_5: null, class_id: '3', community_id: '2', island: '1' }
  }
  $(".s-info li").click(function () {
    var id = $(this).attr("data-id");
    var img = '';
    var data = database[id]
    if (data.img_1 !='http://www.mymarianas.cn/Public/images/news/list.jpg') {
      img += '<li name="' + data.id + '"><img src="' + data.img_1 + '" alt=""></li>';
    }
    if (data.img_2 !='http://www.mymarianas.cn/Public/images/news/list.jpg') {
      img += '<li ><img src="' + data.img_2 + '" alt=""></li>';
    }
    if (data.img_3 !='http://www.mymarianas.cn/Public/images/news/list.jpg') {
      img += '<li ><img src="' + data.img_3 + '" alt=""></li>';
    }

    var info = '<li> <div class="w-info"><h3>' + data.title + '</h3> <div class="xinxix"><span>T: ' + data.phone + '</span><span>ADD: ' + data.address + '</span><span>Saipan, MP 96950</span></div><p>' + data.remark + '</p><a href=""></a></div></li>';

    //替换内容
    $("#right_img").html(img);
    $("#big_img").html(img);
    $("#infoss").html(info);
    aa();

    $(".window").show();
  })

  function aa() {
    $(".w-list li").hover(function () {
      var index = $(this).index();
      // $(".bs-list li").hide();
      $(".bs-list li").eq(index).show();
      $(".bw-list li").hide();
      $(".bw-list li").eq(index).show();
    })

    $(".window .close").click(function () {
      $(".window").hide();
    })
  }
</script>
{{/contentFor}}