{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{> site-header}}

<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <img src="http://www.mymarianas.cn/Public/images/banner/1530763160.jpg" alt="banner1">
        </div>
        <div class="swiper-slide">
            <img src="http://www.mymarianas.cn/Public/images/banner/1530763131.jpg" alt="banner2">
        </div>
        <div class="swiper-slide">
            <img src="http://www.mymarianas.cn/Public/images/banner/1530763135.jpg" alt="banner3">
        </div>
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-scrollbar"></div>
</div>

{{!-- The main content area --}}
<main id="site-main" class="site-main outer">
    <div class="inner posts">

        <div class="post-feed">
            {{#foreach posts}}

                {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
                {{> "post-card"}}

            {{/foreach}}
        </div>

    </div>
</main>
